<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tweet</title>
</head>
<body>
    <form method="post" action="/add_tweet">
        <h4>Add a Tweet</h4>

        <div>
            <label>Title*</label>
            <div>
                <input type="text" name="title" required>
            </div>
        </div>

        <div>
            <label>Text*</label>
            <div class="input-group">
                <textarea name="text" maxlength="280" required></textarea>
            </div>
        </div>

        <div>
            <input type="submit" value="Submit Tweet">
        </div>
    </form>
</body>
</html>
